# Dependências principais
jupyter-server-proxy>=1.4
pip
websockify


# Dependências adicionais
jupyter-server-proxy>=1.4
pip 
websockify
notebook
numpy
pandas
matplotlib
scipy
scikit-learn
seaborn
pyvirtualdisplay
setuptools>=40.8.0


# Dependências para interface gráfica (opcional)
pyvirtualdisplay
setuptools>=40.8.0
